$heading-color: rgba(4, 107, 153, 1);
$nav-color: rgba(254, 215, 102, 1);
$text-color: rgba(71, 115, 170, 1);
$body-background-3: rgb(255, 255, 255);

.contact-page {
  .main-page-heading {
    display: none;
  }
  h2 {
    color: $body-background-3;
    font-weight: normal;
  }
  display: flex;
  justify-content: space-between;
  // align-items: center;
  // flex-direction:column;
  width: 100%;
  background-color: rgba(71, 115, 170, 0.75);//#4773aa; //rgba(71, 115, 170, 0.75);
 
  .follow-me-section {
      h3 {
        margin:0;
        padding: 0;
      }
      .linkedin-link {
        display: flex;
        align-items: center;
      }
      .linkedin-a {
        color: $text-color;
        margin: 0.5rem;
        background-color: $body-background-3;
        padding-right: 0.75rem;
        padding-left: 0.75rem;
        padding-top: 0.25rem;
        padding-bottom: 0.25rem;
        span {
          display: none;
        }
      }
      .linkedin-a:hover, .linkedin-a:focus {
        color: $text-color;
        background-color: $nav-color;
      }
  }
  .follow-me-menu {
    flex-flow: wrap;
  }
  .follow-me {
    list-style: none;
    display: flex;
    margin:0;
    padding:0;
    li {
      padding:0;
      margin: 0.35em;
      font-family: 'Oswald', sans-serif;
      a {
        color: $body-background-3;
        margin: 0;
        padding: 0.15rem;
        font-size: 1.25em;
        // border-radius: 0.5rem;
      }
    }
    a:hover{
      cursor: pointer;
      color: $nav-color;
    }
    a:focus{
      color:$nav-color;
      outline: 0.15rem dashed  $nav-color  !important;
    }
   
  }
  .fab {
    font-size: 2.5em;
  }
  @media only screen and (max-width: 700px) {
    .faq {
      max-width: 95%;
   }
  }
  .faq {
    max-width: 400px;
   
    .accordion {
      display: flex;
      flex-direction: column;
      color: rgba(71, 115, 170, 1);
      margin-bottom: 1rem;
    }
    
    h3 {
      color: rgba(71, 115, 170, 1);
    }
    
    .acc-button {
      display: flex;
      align-content: center;
      background-color: white;
      border: 0.01rem solid gray;
      padding: 0.25rem;
      z-index: 1;
      cursor: pointer;
      color:  rgba(71, 115, 170, 1);
      // max-width: 85%;
    }
    
    div.acc-contentshow {
      background-color: white;
      /* visibility: visible; */
      display: block;
      padding: 0.25rem;
      border: 0.01rem solid black;
      border-top: none;
      transition: all 0.25s linear;
      -webkit-animation: slide-down 0.65s ease-out;
      -moz-animation: slide-down 0.65s ease-out;
    }
    
    @-webkit-keyframes slide-down {
      0% {
        opacity: 0;
        -webkit-transform: translateY(-40%);
      }
      100% {
        opacity: 1;
        -webkit-transform: translateY(0);
      }
    }
    @-moz-keyframes slide-down {
      0% {
        opacity: 0;
        -moz-transform: translateY(-40%);
      }
      100% {
        opacity: 1;
        -moz-transform: translateY(0);
      }
    }
    
    div.acc-contenthidden {
      /* visibility: hidden; */
      display: none;
      opacity: 0;
      transition: all 0.25s linear;
    }
    
    h3 {
      margin: 0;
      padding: 0;
      margin-left: 2rem;
    }

    p {
      
    }
    
  }
}