$heading-color: rgba(4, 107, 153, 1);
$nav-color: rgba(254, 215, 102, 1);
$text-color: rgba(71, 115, 170, 1);
$body-background-3: rgb(255, 255, 255);

.services-page {
  display: flex;
  align-items: center;
  flex-direction: column;
  color: $body-background-3;
  background-color: rgba(
    71,
    115,
    170,
    0.90
  ); //#4773aa; //rgba(71, 115, 170, 0.75);
  ul {
    list-style: none;
  }
  p {
    text-align: left;
    font-size: 1.2em;
  }
  a {
    color: $text-color;
    margin: 0;
  }
  a:hover {
    cursor: pointer;
    color: $nav-color;
  }
  a:focus {
    color: $nav-color;
    outline: 0.15rem dashed $nav-color !important;
  }
  .inline-link {
    padding: 0.05em;
    padding-right: 0.25em;
    padding-left: 0.25em;
    color: $body-background-3;
  }
  .about-section {
    max-width: 50%;
    text-align: center;
  }
  
  .familiar-services-sections {
    display: flex;
    justify-content: space-around;
    flex-flow: wrap;
    width: 100%;
  }
  @media only screen and (max-width: 600px) { //600px and below
    .about-section {
      max-width: 95%;
    }
    familiar-services-sections {
      justify-content: center;
    }
  }
  h1,
  h2,
  h3 {
    margin-top: 0.35em;
    margin-bottom: 0;
    color: $body-background-3;
    font-weight: normal;
  }

  p,
  dl,
  ul {
    margin-top: 0;
  }

  dt,
  li {
    font-size: 1.275em;
  }

  dd {
    font-size: 1.2em;
  }
}
