$heading-color: rgba(254, 74, 73, 1);
$nav-color: rgba(254, 215, 102, 1);
$text-color: rgba(0, 159, 183, 1);
$body-background-1: rgba(230, 230, 234, 1);
$body-background-2: rgba(244, 244, 248, 1);

.App {
  // font-family: 'Cute Font', cursive;
  font-family: 'Oswald', sans-serif;
  // font-family: 'Open Sans Condensed', sans-serif;
  // font-family: 'Caveat', cursive;
// font-family: 'Roboto Condensed', sans-serif;
  font-size: 1.25rem;
  line-height: 1.5;
  background-image: url("./background-evening-chicago.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.landing-hello {
  text-align:center;
  font-size: 3em;
  color: $nav-color;
  span {
    font-size: 1.125em;
    font-weight:900;
    &:hover {
      color: $heading-color;
    }
  }
  // color: $body-background-1;
}
body{  
  margin: 0 auto;
  background-color:$body-background-2;
  color: $text-color;
  ul {
    padding: 0.1rem;
  }
  a{
    color:$nav-color;
    margin: 0.5rem;
    // margin-right: 0;//exception to make the menu top smaller
    padding: 0.5rem;
  }
  a:hover{
    cursor: pointer;
    color: $heading-color;
    background-color: $nav-color;
  }
  a:focus{
    color: $heading-color;
    background-color: $nav-color;
    outline: 1px solid  $heading-color !important;
  }
  h1,h2,h3,h4,h5,h6 {
    color:$heading-color
  }
  ::selection {
    background: $nav-color; /* WebKit/Blink Browsers */
  }
  ::-moz-selection {
    background: $nav-color; /* Gecko Browsers */
  }
}
.container {
  display: grid;
  height: 100vh;
  grid-template-columns: 100%; 
  grid-template-rows: 9% 82% 9% ;
  grid-template-areas: 
   "header header header header header"
   "main main main main main"
   "footer footer footer footer footer";

  // align-items: center;
  justify-content: center;
}
ul.navigation {
  display: flex;
  list-style: none;
  padding: 0;
  padding-bottom: 0.25rem; //exception
  margin: 0;
  li {
    flex: 0 0 auto;
    a{
      text-decoration: none;
      padding-bottom: 0.75rem;//exception
    }
  }
  background-color: $heading-color;
  font-size: 1.5rem;
}
header {
  grid-area: header;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  ul.nav-list {
    justify-content: flex-end;
  }
}
main{
  grid-area: main;
  display: flex;
  align-items: center;
}
footer {
  grid-area: footer;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  ul.footer-list {
    justify-content: flex-start;  
  }
}

.codesamples-page {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  iframe{
    border: 1px solid $heading-color;
    margin: 0.5rem;
  }
}

.services-page, .codesamples-page, .contact-page {
  overflow-y: auto;
  height: 97.5%;
  padding: 0.75rem;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 600;
  background-color:$body-background-2;
}


