$heading-color: rgba(4, 107, 153, 1);
$nav-color: rgba(254, 215, 102, 1);
$text-color: rgba(71, 115, 170, 1);
$body-background-3: rgb(255, 255, 255);

.App {
  font-family: 'Oswald', sans-serif;
// font-family: 'Roboto Condensed', sans-serif; //for navs
  font-size: 1.25rem;
  line-height: 1.5;
  background-image: url("./background-evening-chicago.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.main-page-heading{
  display: none;
}
body{  
  margin: 0 auto;
  background-color:$text-color;
  color: $text-color;
  section:focus, p:focus, dl:focus, ul:focus {
    outline-width: 0.15rem;
    outline-style: dashed;
    outline-color: $nav-color;
  }
  ul {
    padding: 0.1rem;
  }
  
  h1,h2,h3,h4,h5,h6 {
    color:$heading-color;
    font-family: 'Oswald', sans-serif;
  }
  ::selection {
    background: $nav-color; /* WebKit/Blink Browsers */
  }
  ::-moz-selection {
    background: $nav-color; /* Gecko Browsers */
  }
}
.container {
  display: grid;
  height: 100vh;
  grid-template-columns: 100%; 
  grid-template-rows: 11% 78% 11% ;
  grid-template-areas: 
   "header header header header header"
   "main main main main main"
   "footer footer footer footer footer";

  // align-items: center;
  justify-content: center;
}
ul.navigation {
  display: flex;
  list-style: none;
  padding: 0;
  padding-bottom: 0.25rem; //exception
  margin: 0;
  background-color: $heading-color;
  font-size: 1.5rem;
  li {
    background-color: inherit;
    flex: 0 0 auto;
    a{
      text-decoration: none;
      padding-bottom: 0.5rem;//exception
    }
  }
  a, .inline-codesample-link{
    // background-color: inherit;
    color:$nav-color;
    margin: 0.5rem;
    // margin-right: 0;//exception to make the menu top smaller
    padding: 0.25rem; //any chnage to this should follow up with ul.navigation-li-a
  }
  a:hover, .inline-codesample-link:hover{
    cursor: pointer;
    color: $heading-color;
    background-color: $nav-color;
  }
  a:focus, .inline-codesample-link:focus{
    color: $heading-color;
    background-color: $nav-color;
    outline: 0.25rem solid  $heading-color !important;
  }
}
header {
  grid-area: header;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  ul.nav-list {
    justify-content: flex-end;
  }
}
main{
  grid-area: main;
  display: flex;
  align-items: center;
}
footer {
  grid-area: footer;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  ul.footer-list {
    justify-content: flex-start;  
  }
}

.services-page, .codesamples-page, .contact-page {
  overflow-y: auto;
  height: 97.5%;
  padding: 0.75rem;
  font-family: 'Roboto Condensed', sans-serif;
  // font-weight: 600;
  background-color:$body-background-3;
}