$heading-color: rgba(254, 74, 73, 1);
$nav-color: rgba(254, 215, 102, 1);
$text-color: rgba(0, 159, 183, 1);
$body-background-1: rgba(230, 230, 234, 1);
$body-background-2: rgba(244, 244, 248, 1);
.App {
  // font-family: 'Cute Font', cursive;
  font-family: 'Oswald', sans-serif;
  // font-family: 'Open Sans Condensed', sans-serif;
  // font-family: 'Caveat', cursive;
// font-family: 'Roboto Condensed', sans-serif;
  font-size: 1.25rem;
  line-height: 1.5
}
body{  
  margin: 0 auto;
  background-color:$body-background-2;
  color: $text-color;
  ul {
    padding: 0.1rem;
  }
  a{
    color:$nav-color;
    margin: 0.5rem;
    // margin-right: 0;//exception to make the menu top smaller
    padding: 0.5rem;
  }
  a:hover{
    cursor: pointer;
    color: $heading-color;
    background-color: $nav-color;
  }
  a:focus{
    color: $heading-color;
    background-color: $nav-color;
    outline: 1px solid  $heading-color !important;
  }
  h1,h2,h3,h4,h5,h6 {
    color:$heading-color
  }
  ::selection {
    background: $nav-color; /* WebKit/Blink Browsers */
  }
  ::-moz-selection {
    background: $nav-color; /* Gecko Browsers */
  }
}
.container {
  display: grid;
  height: 100vh;
  grid-template-columns: 100%; 
  grid-template-rows: 9% 82% 9% ;
  grid-template-areas: 
   "header header header header header"
   "main main main main main"
   "footer footer footer footer footer";

  // align-items: center;
  justify-content: center;
}
ul.navigation {
  display: flex;
  list-style: none;
  padding: 0;
  padding-bottom: 0.25rem; //exception
  margin: 0;
  li {
    flex: 0 0 auto;
    a{
      text-decoration: none;
      padding-bottom: 0.75rem;//exception
    }
  }
  background-color: $heading-color;
  font-size: 1.5rem;
}
header {
  grid-area: header;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  ul.nav-list {
    justify-content: flex-end;
  }
}
main{
  grid-area: main;
  display: flex;
  align-items: center;
}
footer {
  grid-area: footer;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  ul.footer-list {
    justify-content: flex-start;  
  }
}
.landing-image{//or background image for .landing-page
  height:100%;
  width:100%;
  //look at .jumbotron 
  // height="300"
  //         width="300"
}
.landing-page {
  // background-image: url("https://picsum.photos/200/300/?random");
  // background-repeat: no-repeat;
  overflow-y: auto;
  height: 97.5%;
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  .quick-view-articles{
    display: flex;
    // flex-flow: wrap;
    justify-content: space-between;
  }
  article.mini-jumbotron {
    background-color:$heading-color;
    color: $body-background-1;
    // max-width: 45%;
    // min-width: 25%;
    // h1,h2,h3,h4,h5,h6 {
    //   color:$body-background-1
    // }
    a {
      color: $body-background-1;
      margin: 0;
    }
    a:hover{
      cursor: pointer;
      color:$nav-color;
      background-color: $heading-color;
    }
    a:focus{
      color:$nav-color;
      background-color: $heading-color;
      outline: 1px solid  $nav-color  !important;
    }
    p {
      font-family: 'Caveat', cursive;
      font-size: 1.5rem;
      // padding: 0;
      margin: 0.25rem;
    }
    padding: 0.75rem;
    // width: 30%;
    margin: 1rem;
    border-radius: 0.75rem;
    h4,h5,h6{
      padding: 0;
      margin: 0;
    }
  }
  .jumbotron {
    height: 65%; //should be image height 
    display: flex;
    align-items: center;
    justify-content: center;
    p{
      margin: 0;
    }
  }
}
.codesamples-page {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  iframe{
    border: 1px solid $heading-color;
    margin: 0.5rem;
  }
}
.services-page, .codesamples-page, .contact-page {
  overflow-y: auto;
  height: 97.5%;
  padding: 0.75rem;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 600
}


